#!/bin/bash

# bot
export MONGODB_URI=mongodb://root:example@mongo:27017/obeyd

export API_TOKEN=
export OBEYD_REVIEW_JOKES_CHAT_ID=

export OBEYD_FILES_BASE_DIR=files

# admin
export FLASK_SECRET_KEY=secret

# sentry
export SENTRY_ENABLED=False
